#error {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 1.7em;
  padding-top: 12%;
  z-index: 800000;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, .7);
  -webkit-transition: color 2s;
}

#error:hover {
  color: rgba(205,230,168 ,.5);
}
