@import url('https://fonts.googleapis.com/css?family=Lobster');
body, html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  background-repeat     : no-repeat;
  background-size       : cover;
  background-attachment : fixed;
  font: 1em Helvetica;
}

.data-contol {
  margin-top: 25%;
  width: 80%;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 90%;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: #52BACE;
}

button:focus {
  outline: none;
}

header span {
  font-family: 'Lobster', cursive;
}

h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.7em;
}
a {
  cursor: pointer;
  text-decoration: none;
}
span {
  font-size: .75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  margin: 5px;
}


span:hover {
  color: #53CACE;
}
p:nth-of-type(2) {
  font-size: 1em;
}

footer a {
  cursor: pointer;
  color: #42C9CE;
  text-decoration: none;
}
footer p {
  color: rgba(0, 0, 0, 0.7);;
  font-size: .9em;
}
footer {
  font-weight: lighter;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  padding: 1%;
  text-align: center;
  clear: both;
  height: 8%;
  background-color: rgba(250, 250, 250, 1);;
}

header {
  height: 90%;
}

#main-content {
  display: inline-block;
}

.profile-match {
  color: black;
  background-color: #eee;
  border: 1px solid black;
}

h3 {
  padding: 0;
  margin: 0;
}

[type=text] {
  border: 0;
  width: 100%;
  height: 40px;
  font-size: 1em;
  display: block;
  line-height: 4px;
  color: rgba(0,0,0,.4);
  border-bottom: 1px solid rgba(0,0,0,.2);
}

[type=text]:focus {
  outline: none;
  border-color: #53CADF;
}

select {
  display: block;
  width: 90%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 40px;
  line-height: 4px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

select:focus {
  outline: none;
  border-color: #53CADF;
}

.suggested-profile a {
  width: auto;
  height: 100%;
  text-decoration: none;
  display: block;
}

.suggested-profile {
  margin: 4%;
  border: 1px solid grey;
  height: 10%;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}

#clear_filter {
  width: 80%;
  border: 0;
  height: 90%;
  margin-top: 10%;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.5);;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 1em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 3s;
  -moz-transition: opacity 3s;
  -webkit-transition: opacity 3s;
}

#filter-label {
  margin-left: 32%;
  font-size: 1.3em;
  font-weight: bolder;
  padding: 4%;
  color: rgba(0, 0, 0, 0.7);
}

#filter-table {
  padding: 2%;
  margin-top: 4%;
}

#sort-label {
  margin-left: 32%;
  font-size: 1.3em;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}

#sort-table {
  padding: 2%;
  margin-top: 4%;
  text-align: center;
}

#sort-table a {
  width: 100%;
  display: block;
  line-height: 180%;
  background-color: #eee;
}

#sort-table [type=radio] {
  display: inline-table;
}

#left-content {
  width: 18%;
  height: 30%;
  float: left;
  padding-top: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: .9%;
  background-color: #fff;
}

#right-content {
  width: 27%;
  height: 300px;
  margin-top: 1%;
  float: left;
  background-color: #fff;
}

#best-match {
  width: 45%;
  height: 800px;
  float: left;
  padding-top: 1%;
  margin-top: 1%;
  margin-right: 1%;
  text-align: center;
  background-color: #fff;
}

#filter-title {
  font-size: 1em;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}

#sort-title {
  font-size: 1em;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
}

#best-match label {
  color: #444;
  font-size: 1.9em;
}

#bottom-links {
  margin-top: 0.5%;
  display: inline-block;
}

#power-off {
  border-radius: 25px;
}

#browse {
  float: left;
  width: 39%;
  padding: 0;
  margin: 0;
  padding: 0 2%;
  font-size: .9em;
}

#profile {
  float: left;
  width: 35%;
  padding: 0;
  margin: 0;
  padding: 0 2%;
  font-size: .9em;
}

#logout {
  float: left;
  width: 8%;
  padding: 0;
  margin: 0;
  padding: 0 2%;
  font-size: .9em;
}

#header-pane {
  float: right;
  margin: 0;
  width: 8%;
  font-size: .7em;
  margin-top: .3%;
  color: rgba(0,0,0, .7);
}
